.register {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    margin-top: 50px;
    @media screen and (max-width: 1400px) {
        display: grid;
        grid-template-columns: repeat(1,minmax(0,1fr));
      }
    @media screen and (max-width: 400px) {
    height: 100vh;
    }
    .left{
        @media screen and (max-width: 400px) {
            display: none;
          }
        img {
            width: 100%;
            // max-width: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 0 1.5rem 1.5rem 0;
            @media screen and (max-width: 1400px) {
                display: none;
              }
        }
    }
    .right {

    }
}